 /* IMPORTANDO FONTES */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto+Slab');
/* RESET CSS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* CLASSES GERAIS */
.overlay{
	height: 100%;
	width: 100%;
	background: #FFFFFF70;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay--green{
	background: #64B48670;
}
/* NAVBAR */
.navbar{
	height: 15vh;
	min-height: 64px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.navbar__link{
	margin: 0 1.5vw;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #69B284;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar__logo{
	width: 80px;
}
/* HOME */
.home{
	height: 85vh; 
	background: url(PROA-Assets/home.jpg) top no-repeat;
	background-size: cover;
}
.home__title{
	width: 45vw;
	font-family: 'Oswald', sans-serif;
	font-size: 3.2vw;
	color: #FFF;
	text-transform: uppercase;
}
/* HISTORIA */
.history{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.history__logo{
	width: 20vw;
	margin-left: 5vw; 
}
.history__text{
	width: 38vw;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2vw;
	margin: 1vw 0;	
}
.history__gallery{
	padding: 1px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}
.history__image{
	width: 26vw;
	opacity: 0.6;
}
.history__image:first-child{
	margin-bottom: 1vh;
}
.history__image:last-child{
	margin-top: 1vh;
}
/* PAINEL */
.panel{
	padding: 6vh 0;
	background:#64B486;
	box-shadow: 0px 10px 10px #00000010;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.button{
	height: 7vw;
	width: 7vw;
	margin: 0.8vw;
	padding: 0.9vw;
	border: 1px #707070;
	border-radius: 50%;
	background: #FD837E;
	box-shadow: 1px 1px 5px #00000033;
	font-family: 'Oswald', sans-serif;
	font-size: 1vw;
	font-weight: 700;
	color:#FFF;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* DISPLAY */
.display{
	padding: 8vh 0 8vh 5vw;
	background: #FFF9BF;
}
.display__container{
	display: none;
}
.display__title{
	width: 20vw;
	font-family: 'Oswald', sans-serif;
	font-size: 3.2vw;
	text-transform: uppercase;
}
.display__text{
	width: 30vw;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2vw;
	margin: 1vw 0;	
}
.display__image{
	width: 30vw;
}
.active{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
/* MÍDIA */
.midia{
	display: flex;
	flex-flow: column nowrap;
}
/*
.image{
	width: 25vw;
	margin:2px 0;
}
.image--overlay{
	opacity: 0.5;
}
.text{
	font-family: 'Roboto Slab', serif;
	font-size: 1.2vw;
	margin: 1vw 0;	
}



.text--center{
	width: 35vw;
	margin: 0 2vw;
}

*/display__